/.github         export-ignore
/.gitattributes  export-ignore
/.gitignore      export-ignore
/SENTRY.md       export-ignore
/build.sh        export-ignore
/dist            export-ignore
/nonprofit-manager-site export-ignore
/README.md       export-ignore
